/* # Generics */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* .debug {
  border: 2px dashed black;
} */

/* # Utilities */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 15px;
  text-align: center;
}

h1,
p {
  margin-top: 20px;
}

.title {
  color: #e53170;
}
